.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    gap: 20px;
    min-width: 270px;
    padding: 30px 10px;
    margin-top: 10vh;
}

.inputs {
    width: 80%;
}

.heading {
    margin: 0;
}