.dashboard-container {
    height: 100%;
    width: 98vw;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 2%;
    margin-top: 20px;
}
.meetings-options-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 90%;
}
.meeting-options-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(221, 227, 237);
}
.meetings-container {
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(221, 227, 237);
}
.create-meeting-options {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-meeting-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 10px;
}
.create-meeting-option {
    width: 100%;
}
.meetings-list-container {
    overflow-y: scroll;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.meeting-card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(40% - 2%);
    width: 40%;
    max-width: 400px;
    min-width: 150px;
    margin: 10px;
    box-sizing: border-box;
}
.meeting-card > h3 {
    margin: 0;
    font-size: 1.5rem;
    padding: 10px;
}
.meeting-card > button {
    width: fit-content;
}
.meeting-card > p {
    margin: 0;
    font-size: smaller;
    padding: 5px;
}
.tabs {
    background-color: rgb(221, 227, 237);
    color: white;
}
.meeting-buttons-container {
    display: flex;
    gap: 15px;
    padding: 5px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    bottom: 0px;
}
.meeting-buttons {
    display: flex;
    gap: 15px;
    width: fit-content;
    color: rgb(215, 213, 213);
    align-items: center;
    justify-content: center;
}
.meeting-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(215, 213, 213);
}
.raise-hand {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(215, 213, 213); 
    border: 1px solid rgb(215, 213, 213);  
}
.actions-container {
    position: absolute;
    top: 100px;
    right: 30px;
    color: white;
}
.actions-container > h3 {
    margin: 5px 0;
}
.actions {
    border: 1px solid white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px
}
.actions > p {
    margin: 0;
}
.conf-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;
}
.timer-container {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timer {
    color: white;
    margin: 0px 40px;
    font-size: xx-large;
}
.share-link {
    margin: 0 40px;
    font-size: x-large;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.share-link:hover{
    background-color: white;
    color: black;
}
.timer-end {
    color: red;
}
.conf-div {
    width: 100vw;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conf-dev-host {
    width: 20vw;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    height: fit-content;
}
.participant-name {
    text-align: center;
    margin: 0;
    color: white;
    border-radius: 5px;
    font-size: small;
    width: fit-content;
    margin-top: -20px;
}
.margin-right {
    margin-right: 80px;
}
.z-index {
    z-index: -10;
}
.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.host-absent-heading {
    color: white;
    position: absolute;
    left: 38vw;
    top: 40vh;
}

::-webkit-scrollbar {
    width: 0.2em;
}
   
::-webkit-scrollbar-track {
    background-color: white;
}
   
::-webkit-scrollbar-thumb {
    background-color: rgb(169, 168, 168);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .meetings-options-container{
        flex-direction: column;
    }
    .meeting-options-container {
        flex-direction: row;
        width: 100%;
    }
    .create-meeting-options {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}